<div class="col mb-3">
  <h4>{{ 'footer.office.title'|trans }}</h4>
  <ul class="fa-ul">
    <li>
      <span class="fa-li">
        {{ source('/svg/map-marker-alt-solid.svg') }}
      </span>
      {{ 'company.address'|trans }}
    </li>
    <li>
      <span class="fa-li">
         {{ source('/svg/phone-alt-solid.svg') }}
      </span>
      {{ 'company.phone'|trans }}
    </li>
    <li>
      <span class="fa-li">
         {{ source('/svg/phone-alt-solid.svg') }}
      </span>
      {{ 'company.phone2'|trans }}
    </li>
    <li>
      <span class="fa-li">
         {{ source('/svg/envelope-regular.svg') }}
      </span>
      <a href="mailto:{{ 'company.email.sales'|trans }}">{{ 'company.email.sales'|trans }}</a>
    </li>
  </ul>
</div>
