<nav class="navbar navbar-expand-lg navbar-brand">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav"
          aria-label="navbar toggle button">
    <span class="navbar-toggler-icon">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars"
           class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path
          fill="currentColor"
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="main_nav">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{{ path('sylius_shop_homepage') }}">Home</a>
      </li>

      <li class="nav-item dropdown multi-level-dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Marine Products
        </a>
        <ul class="dropdown-menu" tabindex="0">
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="/en_US/product-categories/marine-toilets" data-toggle="dropdown">
              Marine Toilets
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item dropdown-submenu position-relative">
                <a class="dropdown-toggle" href="/en_US/product-categories/electric-marine-toilet"
                   data-toggle="dropdown">
                  Electric Marine Toilet
                </a>
                <ul class="dropdown-menu list-unstyled" tabindex="0">
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/atlantes-freedom">
                      Atlantes Freedom
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/marine-elegance">
                      Marine Elegance
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/ph-powerflush">
                      PH PowerFlush
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/seaera">
                      SeaEra
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/seaera-qc">
                      SeaEra QC
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/seaera-conversion-kit">
                      SeaEra Conversion Kit
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/product-categories/electric-marine-toilet-control-parts">
                      Electric Toilet Controls
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/page/seafresh">
                      SeaFresh
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-item dropdown-submenu position-relative">
                <a class="dropdown-toggle" href="/en_US/product-categories/manual-marine-toilets"
                   data-toggle="dropdown">
                  Manual Marine Toilets
                </a>
                <ul class="dropdown-menu list-unstyled" tabindex="0">
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/fresh-head">
                      Fresh Head
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/ph-superflush">
                      PH Superflush
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/ph-powerflush">
                      PH PowerFlush
                    </a>
                  </li>
                  <li class="dropdown-item">
                    <a class="" href="/en_US/products/seaera-conversion-kit">
                      SeaEra Conversion Kit
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="/en_US/product-categories/marine-sanitation-devices"
               data-toggle="dropdown">
              Marine Sanitation Devices
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/electroscan">
                  Electroscan
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/hold-n-treat-control">
                  Hold N Treat System
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/managerm">
                  Managerm
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/purasan-ex-treatment-system">
                  Purasan
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="/en_US/product-categories/holding-tanks" data-toggle="dropdown">
              Holding Tanks
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/product-categories/semi-custom-holding-tanks">
                  Semi- Custom Holding Tanks
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="/en_US/product-categories/sanitation-accessories" data-toggle="dropdown">
              Sanitation Accessories
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/tank-monitor">
                  Tank Monitor
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/c-h-cleans-hoses">
                  Cleans Hoses
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/macerator-pump">
                  Macerator Pump
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/product-categories/electric-toilet-controls">
                  Electric Toilet Controls
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/saniflex">
                  SaniFlex Odor Shield Hose
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/diverter-y-valve">
                  Diverter Y Valve
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item">
            <a class="" href="/en_US/product-categories/miscellaneous">
              Parts
            </a>
          </li>
          <li class="dropdown-item">
            <a class="" href="/en_US/product-categories/miscellaneous">
              Blemished Products
            </a>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="/en_US/product-categories/odor-control" data-toggle="dropdown">
              Odor Control
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/c-p-cleans-potties">
                  C.P. Cleans Potties
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/c-h-cleans-hoses">
                  C. H. Cleans Hoses
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/k-o-kills-odors">
                  K.O. Kills Odors
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/knocks-out-odor-kit">
                  K.O. 2 Kit
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/saniflex">
                  SaniFlex Odor Shield Hose
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Marine Water Heater
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/water-heater">
                  1700 Series
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Marine Ice Makers
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/icerette">
                  Icerette
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="/en_US/product-categories/strainers" data-toggle="dropdown">
              Strainers
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/raw-water-strainer">
                  Raw Water Strainer
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/in-line-strainer">
                  In-Line Strainer
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item position-relative">
            <a href="/en_US/products/ruddermaster">
              Ruddermaster
            </a>
          </li>

          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="/en_US/product-categories/alarms" data-toggle="dropdown">
              Alarms
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/reverse-polarity-alarm">
                  Reverse Polarity Alarm
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown-item dropdown-submenu position-relative">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Legacy Products
            </a>
            <ul class="dropdown-menu list-unstyled" tabindex="0">
              <li class="dropdown-item">
                <a class="" href="/en_US/products/crown-head">
                  Crown Head
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/crown-head-cd-discharge-kit">
                  Crown Head CD Series
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/crown-head-ii-lba">
                  Crown Head II
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="#">
                  Compact II
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/icerette">
                  Ice Maker Model 82/83
                </a>
              </li>
              <li class="dropdown-item">
                <a class="" href="/en_US/products/404-phii">
                  LectraSan
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      {# <li class="nav-item dropdown multi-level-dropdown"> #}
      {# <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"> #}
      {# Marine Products #}
      {# </a> #}
      {# {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'MENU_CATEGORY', 'template': '/bundles/SyliusShopBundle/Menu/_taxonSubmenu.html.twig'})) }} #}
      {# </li> #}

      <li class="nav-item dropdown multi-level-dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          Tech Support
        </a>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('support_manuals') }}">
              Manuals
            </a>
          </li>
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('repair-shop') }}">
              Repair Shop
            </a>
          </li>
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('support_need_a_part') }}">
              Need a Part?
            </a>
          </li>
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('support_how_to') }}">
              How To Videos
            </a>
          </li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('support_limited_warranty') }}">
              Warranties
            </a>
          </li>
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('warranty_activation_form') }}">
              Warranty Activation Form
            </a>
          </li>
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('support_identify_your_head') }}">
              Identify Your Head
            </a>
          </li>
          <li class="dropdown-item">
            <a href="{{ bitbag_cms_get_link_for_code('support_faq') }}">
              FAQ
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ bitbag_cms_get_link_for_code('about_us') }}">
          About Us
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ path('sylius_shop_contact_request') }}">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.raritaneng.com/blog" target="_blank">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ path('sylius_shop_dealer_index') }}">Dealers</a>
      </li>
    </ul>
  </div>
</nav>
