<div class="col mb-3">
  <h4>{{ 'sylius.ui.support.title'|trans }}</h4>
  <div class="d-flex flex-column">
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'about_us', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    <a class="text-muted" href="{{ path('sylius_shop_contact_request') }}">{{ 'sylius.ui.contact_us'|trans }}</a>
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'support_faq', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'support_limited_warranty', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'support_manuals', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'support_need_a_part', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
  </div>
</div>
