<div class="col mb-3">
  <h4>{{ 'sylius.ui.legal.title'|trans }}</h4>
  <div class="d-flex flex-column">
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'legal_anti_spam_policy', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'legal_dmca', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'legal_privacy_policy', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'legal_refund_policy', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'legal_tos', 'template' : '@BitBagSyliusCmsPlugin/Shop/Page/Show/_link.html.twig'})) }}
  </div>
</div>
